accelerate
emoji
fireredvad
funasr
gradio
tiktoken
torch @ file:///mnt/D/python/torch-2.6.0+cu124-cp312-cp312-linux_x86_64.whl
torchaudio @ file:///mnt/D/python/torchaudio-2.6.0+cu124-cp312-cp312-linux_x86_64.whl
transformers